<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">School Database Management</h1>
        <p class="lead">Welcome to our School Database Management System!</p>
        <p>Effortlessly manage your school's information with our intuitive platform.</p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <ul>
                <li><a href="teacher/list">List Teachers</a></li>
                <li><a href="teacher/Ajax_new">Add Teacher</a> </li>
                <li><a href="student/list">List Students</a></li>
                <li><a href="classes/list">List Classes</a></li>
            </ul>
        </section>

    </div>
</main>