
@{
    ViewBag.Title = "New";
}

<h2>Add New Classes</h2>

<div id="containershow">
    <nav>
        <a class="navlink" href="/Classes/List">Back To Teachers</a>
    </nav>
    <h2>New Author</h2>
    <form method="POST" action="/Classes/Add">
        <div class="inputrow">
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" />

        </div>
        <div class="inputrow">
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" />

        </div>
        <div class="inputrow">
            <label for="EmployeeNumber">Employee Number:</label>
            <input type="text" id="EmployeeNumber" name="EmployeeNumber" />
        </div>
        <div class="inputrow">
            <label for="Salary">Salary:</label>
            <div>
                <input type="number" id="Salary" name="Salary" />
            </div>
        </div>
        <div class="inputrow">
            <input type="submit" value="Add Teacher" />
        </div>
    </form>
</div>