﻿﻿@model Cumulative3_N01652955.Models.Teacher

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete @Model.TeacherFname @Model.TeacherLname?</h2>
    <p>This action cannot be undone.</p>
    <form method="POST" action="/Teacher/Delete/@Model.TeacherId">
        <button class="delbutton">
            Confirm Delete
        </button>
    </form>
</div>