﻿﻿@model IEnumerable<Cumulative3_N01652955.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<h2 class="text-center">List of Teachers</h2>

<div id="containerlist">
    <form action="/Teacher/List" method="GET">
        <input type="text" name="searchKey" autocomplete="off" placeholder="Search Teacher by name" />
        
        <input type="submit" value="Search" />
    </form>
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12 m-2"><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
        </div>
    }
</div>
