﻿@model Project_N01543896.Models.Teacher
@{
    ViewBag.Title = "DeleteConfirm";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.teacherId">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete @Model.teacherFName @Model.teacherLName?</h2>
    <p>This action cannot be undone.</p>
    <form method="POST" action="/Teacher/Delete/@Model.teacherId">
        <button class="delbutton">
            Confirm Delete
        </button>
    </form>
</div>