﻿@model IEnumerable<Project_N01543896.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2 class="text-center">List of Teachers</h2>

<div id="containerlist">
    <form action="/Teacher/List" method="GET">
        <input type="text" name="searchKey" autocomplete="off" placeholder="Search Teacher by name" />
        <p> OR </p>
        <p>Enter a range of salary to search</p>
        <input type="number" step="0.01" name="salaryKey" placeholder="Search teacher by salary" />
        <input type="number" step="0.01" name="salaryKey2" placeholder="Search teacher by salary" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var teacher in Model) {
        <div class="listitem row">
            <div class="col-md-12 m-2"><a href="/Teacher/Show/@teacher.teacherId">@teacher.teacherFName @teacher.teacherLName</a></div>
        </div>
    }
</div>
